.headerStyle {
  width: 100%;
  height: 600px;
  background-image: url("../../assets/images/beautiful-nature-mountain-scenery-with-flowers-free-photo.jpg.webp");
  background-repeat: none;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.headerStyle h1 {
  font-size: 60px;
  text-align: center;
  color: white;
}